body{background:rgb(255, 255, 255); font-family: Cambria;} 
h1, h2 {font-size: 30px; font-weight:400}
h3 {font-size: 18px; font-weight:400;
  box-sizing:content-box; width: 300px; color:#3b3b3b}
h4 {font-size:19px; font-weight:400}
A.v:link {text-decoration: none;}  /* Убирает подчеркивание для ссылок */
A:visited { text-decoration: none; } 
A:active { text-decoration: none; }
A:hover {color: rgb(212, 14, 47); font-size:35px; transition:0,8s}
a{text-decoration: none; color:black;  font-size: 34px;  font-weight:400; outline:none;}
 
 
/*_____________________________Меню_________________________________*/   


#logo {position: relative; top:-2px; height:3.5%; width: 3.5%; left:150px} /*Логотип*/
#pizza {position: absolute; left:360px; top:20px}
#drinks {position: absolute; left:500px; top:20px}
#contacts {position: absolute; left:680px; top:20px}
#aboutus {position: absolute; left:880px; top:20px}
#x {position: relative; height: 22px; font-size: 16px; top:-10px}
#c {width: 98%; height: 22px; font-size: 16px}
#v {font-size: 40px}
#b {position:relative; height: 22px; font-size: 22px; top:200px}
#n {position:relative; width: 98%; top:10px; height: 22px; font-size: 16px}
       
/*__________________________Основа_______________________________*/

/*__________________________Пицца________________________________*/
.box {width:220px; box-sizing: border-box}
#piz {position: absolute; top:90px; left:150px}
#i1 {position: absolute; width: 16%; height: 32%; top:200px; left:175px}
#ii1 {position: absolute; top:390px; left:175px}
#iii1 {position: absolute; top:440px; left:175px}
#priceb1 {position: absolute; top:550px; left:175px}
#b1 {position: absolute; top:570px; left:275px}

#i2 {position: absolute; width: 16%; height: 32%; top:200px; left:425px}
#ii2 {position: absolute; top:390px; left:425px}
#iii2 {position: absolute; top:440px; left:425px}
#priceb2 {position: absolute; top:550px; left:425px}
#b2 {position: absolute; top:570px; left:525px}

#i3 {position: absolute; width: 16%; height: 32%; top:200px; left:675px}
#ii3 {position: absolute; top:390px; left:675px}
#iii3 {position: absolute; top:440px; left:675px}
#priceb3 {position: absolute; top:550px; left:675px}
#b3 {position: absolute; top:570px; left:785px}

#i4 {position: absolute; width: 16%; height: 32%; top:200px; left:925px}
#ii4 {position: absolute; top:390px; left:925px}
#iii4 {position: absolute; top:440px; left:925px}
#priceb4 {position: absolute; top:550px; left:925px}
#b4 {position: absolute; top:570px; left:1035px}

#i5 {position: absolute; width: 16%; height: 32%; top:650px; left:175px}
#ii5 {position: absolute; top:840px; left:175px}
#iii5 {position: absolute; top:890px; left:175px}
#priceb5 {position: absolute; top:983px; left:175px}
#b5 {position: absolute; top:1003px; left:275px}

#i6 {position: absolute; width: 16%; height: 32%; top:650px; left:425px}
#ii6 {position: absolute; top:840px; left:425px}
#iii6 {position: absolute; top:890px; left:425px}
#priceb6 {position: absolute; top:983px; left:425px}
#b6 {position: absolute; top:1003px; left:525px}

#i7 {position: absolute; width: 16%; height: 32%; top:650px; left:675px}
#ii7 {position: absolute; top:840px; left:675px}
#iii7 {position: absolute; top:890px; left:675px}
#priceb7 {position: absolute; top:983px; left:675px}
#b7 {position: absolute; top:1003px; left:785px}
    

/*__________________________Напитки___________________________________*/


#drink {position: absolute; top:1050px; left:150px}
#p1 {position: absolute; width: 16%; height: 32%; top:1160px; left:175px}
#pp1 {position: absolute; top:1350px; left:175px}
#ppp1 {position: absolute; top:1400px; left:175px}
#priced1 {position: absolute; top:1430px; left:175px}
#d1 {position: absolute; top:1450px; left:275px}

#p2 {position: absolute; width: 16%; height: 32%; top:1160px; left:425px}
#pp2 {position: absolute; top:1350px; left:425px}
#ppp2 {position: absolute; top:1400px; left:425px}
#priced2 {position: absolute; top:1430px; left:425px}
#d2 {position: absolute; top:1450px; left:525px}

#p3 {position: absolute; width: 16%; height: 32%; top:1160px; left:675px}
#pp3{position: absolute; top:1350px; left:675px}
#ppp3 {position: absolute; top:1400px; left:675px}
#priced3{position: absolute; top:1430px; left:675px}
#d3 {position: absolute; top:1450px; left:785px}

#p4 {position: absolute; width: 16%; height: 32%; top:1160px; left:925px}
#pp4 {position: absolute; top:1350px; left:925px}
#ppp4 {position: absolute; top:1400px; left:925px}
#priced4{position: absolute; top:1430px; left:925px}
#d4 {position: absolute; top:1450px; left:1035px}

#p5 {position: absolute; width: 16%; height: 32%; top:1520px; left:175px}
#pp5 {position: absolute; top:1710px; left:175px}
#ppp5 {position: absolute; top:1760px; left:175px}
#priced5{position: absolute; top:1790px; left:175px}
#d5 {position: absolute; top:1810px; left:275px}

#p6 {position: absolute; width: 16%; height: 32%; top:1520px; left:425px}
#pp6 {position: absolute; top:1710px; left:425px}
#ppp6 {position: absolute; top:1760px; left:425px}
#priced6{position: absolute; top:1790px; left:425px}
#d6 {position: absolute; top:1810px; left:525px}

#p7 {position: absolute; width: 16%; height: 32%; top:1520px; left:675px}
#pp7 {position: absolute; top:1710px; left:675px}
#ppp7 {position: absolute; top:1760px; left:675px}
#priced7{position: absolute; top:1790px; left:675px}
#d7 {position: absolute; top:1810px; left:785px}

#p8 {position: absolute; width: 16%; height: 32%; top:1520px; left:925px}
#pp8 {position: absolute; top:1710px; left:925px}
#ppp8 {position: absolute; top:1760px; left:925px}
#priced8{position: absolute; top:1790px; left:925px}
#d8 {position: absolute; top:1810px; left:1035px}

#p9 {position: absolute; width: 16%; height: 32%; top:1870px; left:175px}
#pp9 {position: absolute; top:2060px; left:175px}
#ppp9 {position: absolute; top:2110px; left:175px}
#priced9{position: absolute; top:2140px; left:175px}
#d9 {position: absolute; top:2160px; left:275px}

.header {
  width: 100%;
  background: #fff;
  padding: 15px 0;
  z-index: 100;
  -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
} 
.header__inner {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}
.header_fixed {
  position: fixed;
  left: 0;
  top: 0;
}

#footer{position:absolute; left:0px; top:2200px; width:101%} 
#footerbook{position:absolute; left:510px; top:2220px; width: 40px;}
#footersup{position:absolute; left:150px; top:2214px; width: 40px;}
#footervk{position:absolute; left:1065px; top:2210px; width: 50px;}
#footer1{position:absolute; left:200px; top:2200px; color:white; font-size: 24px;}
#footer2{position:absolute; left:560px; top:2200px; color:white; font-size: 24px;}
#footer3{position:absolute; left:900px; top:2200px; color:white; font-size: 24px;}


/*________________________________Контакты___________________________________*/


#sity{position: absolute; width:400px; top:150px; left:150px; }
#selectsity{position: absolute; width:400px; top:100px; left:150px;}
#phone{position: absolute; width:400px; top:105px; left:770px; font-size: 22px;}
#email{position: absolute; width:400px; top:155px; left:770px; font-size: 22px;}
#таблица{position: absolute; width:700px; top:260px; left:150px;}
#карта{font-size: 16px;}
#ккарта{background-color:#45ebc0;border-color:#08f0c2;color:#000201;font-size:16px;border-radius:10px;padding-left:18px; padding-right:18px;padding-top:4px; padding-bottom:4px;border-width:0px;box-shadow: -1px -2px rgb(69, 206, 138)}
#ккарта:hover{background-color:#05965f;border-color:#a42037;color:#ffffff;font-size:16px;box-shadow: -1px -2px rgb(8, 121, 64) inset;}
  
#footerо{position:absolute; left:0px; top:581px; width:101%}
#footerbook3{position:absolute; left:510px; top:601px; width: 40px;}
#footersup3{position:absolute; left:150px; top:595px; width: 40px;}
#footervk3{position:absolute; left:1065px; top:591px; width: 50px;}
#footerо1{position:absolute; left:200px; top:601px; color:white; font-size: 24px;}
#footerо2{position:absolute; left:560px; top:601px; color:white; font-size: 24px;}
#footerо3{position:absolute; left:900px; top:601px; color:white; font-size: 24px;}


/*__________________________________О нас_________________________________________*/


#онас{position:absolute;left:150px;}
#boxText{position:absolute; top:140px; left:150px; height: 300px; text-indent:20px; width:1000px; font-size: 22px;}
#footerко{position:absolute; left:0px; top:581px; width:101%}
#footerbook2{position:absolute; left:510px; top:601px; width: 40px;}
#footersup2{position:absolute; left:150px; top:595px; width: 40px;}
#footervk2{position:absolute; left:1065px; top:591px; width: 50px;}
#footerко1{position:absolute; left:200px; top:581px; color:white; font-size: 24px;}
#footerко2{position:absolute; left:560px; top:581px; color:white; font-size: 24px;}
#footerко3{position:absolute; left:900px; top:581px; color:white; font-size: 24px;}
